td.tile {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

td.hoverTile {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  position: relative;
  cursor: grab;
}

/* Set the image to fill its parent and make transparent */
td.tile img {
  display:block; 
  /* IE 5-7 */
  filter: alpha(opacity=0);
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  /* modern browsers */
  opacity: 0;
}

td.hoverTile a.owner {
  color: white;
  cursor: pointer;
  font-size: 1em;
  left: calc(100% - 5em);
  position: absolute;
  text-decoration: none;
  top: 45%;
	transform: rotate(90deg);
}

td.hoverTile i.lock {
  background-color: white;
  border: 1px solid silver;
  border-radius: 0.25rem;
  color: #807f7f7f;
  cursor: pointer;
  font-size: 1.1rem;
  left: 1%;
  padding: 0.2em;
  position: absolute;
  top: calc(85% - 1em);
}

td.hoverTile i.unlock {
  color: black;
  cursor: pointer;
  font-size: 1.1em;
  left: 1%;
  position: absolute;
  top: calc(85% - 1em);
}