body {
  background-color: #111122;
}

.App {
    text-align: left;
    width: 50vw;
    height: 90vh;
    margin-right: auto;
    margin-left: auto;
}

.App-header {
  background-color: #111122;
  color: silver;
  font-family: Script;
  font-size: 2em;
  font-style: italic;
  letter-spacing: 1em;
  padding: 0.5vw;
  text-align: left;
}

.App-title {
  font-size: 1em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.Left-pane {
  float: left
}

.control-panel {
  clear: both;
  margin-top: 10px;
  padding: 5px;
}

.control-panel button {
  height: 50px;
  width: 100px;
  background-color: #92a8d1;
  font-size: 1em;
  margin-right: 10px;
}